.spacer-10 {
  height: 10px; }

.spacer-20 {
  height: 20px; }

.spacer-30 {
  height: 30px; }

.spacer-40 {
  height: 40px; }

.spacer-50 {
  height: 50px; }

.spacer-60 {
  height: 60px; }

.spacer-70 {
  height: 70px; }

.spacer-80 {
  height: 80px; }

.spacer-90 {
  height: 90px; }

.spacer-100 {
  height: 100px; }

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #4D4D4D;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  body a {
    color: #1DACFB; }
    body a:hover, body a:focus, body a:active {
      color: #1DACFB; }
    body a.text-light {
      color: #858f8d; }
      body a.text-light:hover, body a.text-light:focus, body a.text-light:active {
        color: #858f8d; }
  body .text-light {
    color: #858f8d; }

.header {
  background-color: #edf2f8;
  padding-top: 74px;
  color: #5b6269;
  border-bottom: 1px solid #d3e0e5; }
  .header .lead {
    font-size: 30px;
    line-height: 1.45em;
    letter-spacing: 0.1px;
    color: black;
    font-weight: 400; }
    .header .lead img.blox {
      vertical-align: -2%; }
    .header .lead .ec2 {
      color: #1DACFB;
      font-weight: bold; }
  @media (max-width: 768px) {
    .header {
      padding-top: 27px; }
      .header .lead {
        font-size: 25px; } }
  .header p {
    line-height: 1.8em; }
  .header .row {
    margin-top: 60px; }
  .header .main-render {
    width: 100%; }
    @media (max-width: 1500px) {
      .header .main-render {
        margin-top: -150px; } }
    @media (max-width: 1199px) {
      .header .main-render {
        margin-top: -90px; } }
    @media (max-width: 991px) {
      .header .main-render {
        margin-top: 0px; } }
    @media (min-width: 1500px) {
      .header .main-render {
        margin-top: -200px; } }
    @media (min-width: 1600px) {
      .header .main-render {
        margin-top: -230px; } }

.menu-wrapper .menu {
  background-color: #edf2f8;
  padding: 10px 15px;
  border-bottom: 1px solid transparent; }
  .menu-wrapper .menu .container .navbar-header {
    margin: 0; }
    .menu-wrapper .menu .container .navbar-header h1 {
      margin: 0;
      padding: 0;
      float: left; }
    .menu-wrapper .menu .container .navbar-header .navbar-toggle .icon-bar {
      background-color: #1DACFB; }
  .menu-wrapper .menu .container li > a:focus,
  .menu-wrapper .menu .container li > a:hover {
    text-decoration: underline;
    background-color: transparent; }
.menu-wrapper.headroom--not-top .menu {
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  border-bottom: 1px solid #d3e0e5; }

.custom-panel {
  margin: 20px 0;
  padding: 25px 60px;
  border-radius: 5px;
  background-color: #F8FAFB;
  line-height: 1.8em; }
  @media (max-width: 768px) {
    .custom-panel {
      padding: 25px; } }
  .custom-panel h3 {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.5em;
    font-weight: bold; }
    @media (max-width: 768px) {
      .custom-panel h3 {
        margin-bottom: 1em; } }
    .custom-panel h3 img {
      margin-right: 2px; }
    .custom-panel h3 a {
      border-bottom: 1px solid rgba(0, 151, 254, 0.2);
      padding-bottom: 4px; }
      .custom-panel h3 a:hover {
        text-decoration: none; }

.block {
  padding: 40px 0 60px 0; }
  .block.scheduling {
    border-bottom: 1px solid #E9EFF1; }
    @media (min-width: 768px) {
      .block.scheduling {
        background-image: url(../../img/gem-2.jpg);
        background-repeat: no-repeat;
        background-position-x: left;
        background-position-y: calc(100% - 40px); }
        .block.scheduling .container {
          background-image: url(../../img/gem-1.jpg);
          background-repeat: no-repeat;
          background-position: right top; } }
  .block.cli {
    border-bottom: 1px solid #E9EFF1; }
    @media (min-width: 768px) {
      .block.cli {
        background-image: url(../../img/gem-3.jpg);
        background-repeat: no-repeat; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .block.cli {
        background-position-x: calc(50% + 350px);
        background-position-y: calc(0% + 100px); } }
    @media (min-width: 992px) and (max-width: 1199px) {
      .block.cli {
        background-position-x: calc(50% + 470px);
        background-position-y: calc(0% + 130px); } }
    @media (min-width: 1200px) {
      .block.cli {
        background-position-x: calc(50% + 560px);
        background-position-y: calc(0% + 95px); } }
  @media (min-width: 768px) {
    .block.releases {
      background-image: url(../../img/gem-5.jpg), url(../../img/gem-4.jpg);
      background-repeat: no-repeat, no-repeat;
      background-position-x: left, calc(50% + 250px);
      background-position-y: calc(100% + 100px), 170px; } }
  .block.about {
    background-color: #edf2f8; }
    .block.about p {
      line-height: 1.8em; }
  .block h2 {
    font-size: 36px;
    line-height: 1.5em;
    font-weight: 100;
    margin: 21px 0;
    padding: 0; }
    .block h2 img {
      vertical-align: -7%;
      margin-right: 20px; }
    @media (max-width: 768px) {
      .block h2 {
        font-size: 25px; }
        .block h2 img {
          width: 25px;
          height: 25px;
          margin-right: 10px; } }
  .block .block-description {
    font-size: 16px;
    line-height: 29px;
    margin-bottom: 30px;
    line-height: 1.8em; }

.footer {
  padding: 85px 0;
  color: #858f8d; }
  .footer p {
    margin: 0;
    padding: 0; }
    .footer p a.social {
      margin: 0 0 0 1em; }
  .footer .container-flex {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center; }
  .footer .copyright {
      text-align: right;
      padding-top: 20px;
      font-size: 12px;
  }
  @media (max-width: 600px) {
    .footer .container-flex {
      display: block; }
    .footer .column-1,
    .footer .column-2,
    .footer .column-3 {
      text-align: center; }
    .footer .column-2 {
      margin-top: 1em;
      margin-bottom: 1em; } }
